body {
    background-color: #5F2871;
}


table {
    border-collapse: collapse;
    background-color: #DCD0C2;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
  }
  .selected {
    background-color: #ccc;
}

#btn-GREEN {
    background-color: green;
    color: white;
}

#btn-GREEN.selected {
    background-color: darkgreen;
}

#btn-YELLOW {
    background-color: yellow;
    color: black;
}

#btn-YELLOW.selected {
    background-color: darkgoldenrod;
}

#btn-RED {
    background-color: red;
    color: white;
}

#btn-RED.selected {
    background-color: darkred;
}